@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar by default, show on hover/scroll */
.scrollbar-hide::-webkit-scrollbar {
  width: 8px; /* Adjust width */
}

.scrollbar-hide::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-hide::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); 
  border-radius: 10px;
}

/* Firefox support */
.scrollbar-hide {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

